*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.free img
{
  width: 10%;
}
.logohome img
{
    width: 20%;
    margin-top: 5px;
    transform: translate(10%,110%);
}
.menu-bar
{
    color: aliceblue;
    background-color: black;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;

}
.menu-bar ul li
{
    width: 20px;
    margin: 30px;
    padding: -15px; 
    position: relative;
}
.menu-bar ul li a
{
text-decoration: none;
color: aliceblue;
}
.active, .dropdown__menu li
{
    background: #f8982d;
    border-radius: 3px;
}

.menu-bar ul li:hover .dropdown__menu
{
    display: block;
    position: absolute;
    background-color: black;
}
.dropdown__menu ul{
    display: block;
    margin: 35px;
}
.dropdown__menu ul li{
    width: 200px;
    padding: 10px;
}